@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  font-family: "dq",Arial; }

::-webkit-scrollbar {
  width: 0;
  height: 0; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

html, body {
  width: 100%;
  height: 100%; }

html, body {
  -webkit-user-select: none; }

a, img {
  -webkit-touch-callout: none; }

html, body, button, input, optgroup, select, textarea {
  -webkit-apperance: none; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 100px; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 85px !important; } }

@media only screen and (min-width: 320px) {
  html {
    font-size: 96px !important; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 100px !important; } }

@media only screen and (min-width: 412px) {
  html {
    font-size: 109px !important; } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 110px !important; } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 170px !important; } }

@media only screen and (min-width: 768px) {
  html {
    font-size: 200px !important; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 274px !important; } }

body {
  font-size: 16px;
  font-size: 0.16rem;
  background-color: #f3f6f9;
}

/*颜色*/
.miancolor-1{
  color:#93BCFF ;
}
.miancolor-2{
  color:#FBAC59 ;
}


/*一像素*/
.common-1px-r{
  position: relative;
}
.common-1px-r::after{
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #C7C7C7;
  color: #C7C7C7;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
input{
  color: #999999 !important;
}
textarea{
  color: #999999 !important;

}